:root {
	--primary: #111;
	--secondary: #f5ba31;
	--red: #eb1717;
	--light-gray: #0001;
	--deep-gray: #0008;
	--ProductSans: ProductSans, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	background: 0;
	border: none;
	outline: none;
	font-size: 14px;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: ProductSans, serif;
}

button,
a {
	cursor: pointer;
}

@font-face {
	font-family: ProductSans;
	src: url("./assets/fonts/ProductSans.ttf");
}

body {
	font-family: ProductSans, serif;
	font-size: 16px;
}

::-webkit-scrollbar {
	display: none;
}

/*########## Navbar styles #########*/
.navbar {
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em 1em;
	position: relative;
}

.navbar .overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	pointer-events: all;
	z-index: 3;
	transform: translateX(100vw);
	transition: 180ms all;
}

.navbar .overlay.active {
	transform: translate(0vw);
}

.navbar * {
	font-family: ProductSans, serif;
	font-weight: 700;
	font-size: 1.1em;
}

.navbar .logo {
	width: 70px;
	cursor: auto;
}

.navbar img {
	width: 20px;
	cursor: pointer;
}

.navbar nav>div {
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	height: max-content;
	width: 60vw;
	transform: translateX(65vw);
	transition: 200ms all;
	border-radius: 0 0 0 10px;
	z-index: 4;
	padding-bottom: 2.5em;
}

.navbar nav>div.active {
	transform: translateX(0vw);
}

.navbar .hamburger.active {
	display: none;
}

.navbar nav>div ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.1em;
	padding-top: 2em;
}

.mobile_nav .close {
	margin-left: 75%;
	transform: translateY(-10%);
}

.mobile_nav>div ul a {
	color: var(--primary);
}

.mobile_nav>div ul a:hover {
	color: var(--secondary);
}

.navbar .authenticate {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 0.5em;
}

.navbar .authenticate a {
	padding: 0.4em 0.8em;
	font-size: 0.9em;
	text-align: center;
	color: var(--primary);
}

.navbar .authenticate a:nth-child(1) {
	border: 1px solid var(--secondary);
	border-radius: 10px;
	color: var(--primary);
}

.navbar .authenticate a:nth-child(2):hover {
	border: 1px solid var(--secondary);
	background-color: transparent;
	text-decoration: none;
}

.navbar .authenticate a:nth-child(1):hover {
	text-decoration: none;
	background-color: var(--secondary);
}

.navbar .authenticate a:nth-child(2) {
	color: var(--primary);
	border-radius: 10px;
	background-color: var(--secondary);
}

.mobile_nav>div ul * {
	cursor: pointer;
}

/*########## Navbar styles end #########*/

/*########## Home styles #########*/
.home {
	background-color: var(--primary);
	color: white;
}

.home section.hero {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1em;
	color: white;
	padding: 4em 2em;
	background-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%),
		url("./assets/images/Portrait.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.home .hero p {
	font-size: 1.8em;
	width: 100%;
	max-width: 500px;
}

.home .hero p span {
	color: var(--secondary);
	font-size: 1em;
}

.home .hero button,
.button {
	background-color: var(--secondary);
	color: var(--primary);
	font-weight: 700;
	padding: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.home .hero button:hover {
	background-color: var(--primary);
	color: var(--secondary);
}

.home .gallery {
	margin-top: 5em;
	position: relative;
}

.gallery .right_tri {
	position: absolute;
	top: 40%;
	height: 80%;
	width: 100%;
	z-index: 1;
	transform: translateY(-50%);
	background-color: rgba(245, 186, 49, 30%);
	clip-path: polygon(100% 15%, 0% 94%, 100% 94%);
}

.home .gallery h2,
.home .services h2 {
	color: var(--secondary);
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2em;
}

.galleries .swiper {
	height: 300px;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding-left: 1.8em;
	padding-right: 1.8em;
}

.galleries .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.galleries .swiper-pagination-bullet {
	background: white;
	position: relative;
	top: -5px;
	opacity: .8;
	width: 6px;
	height: 6px;
}

.galleries .swiper-pagination-bullet-active {
	background: var(--secondary);
	width: 10px;
	height: 10px;
	opacity: 1;
}

.galleries img {
	width: 100%;
	max-width: 350px;
	aspect-ratio: 4/3;
	object-fit: cover;
	border-radius: 10px;
	display: block;
	position: relative;
	z-index: 2;
}

.gallery a {
	color: var(--secondary);
	border: 1px solid var(--secondary);
	border-radius: 10px;
	padding: 1em;
	display: block;
	margin: .5em auto 0;
	text-align: center;
	width: max-content;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.home .services {
	margin-top: 4em;
}

.home .services div img {
	width: 90%;
	display: block;
	border-radius: 10px;
	margin: 0 auto;
}

section.services ul#our_services {
	color: var(--secondary);
	font-weight: 600;
	display: block;
	margin: 2em auto;
	width: 200px;
	transform: translate(30px);
}

.services ul li {
	list-style-type: disc;
	font-size: 1.2em;
}

.services button {
	background-color: var(--secondary);
	color: var(--primary);
	padding: 1em 0;
	display: block;
	width: 150px;
	margin: 0 auto;
	font-weight: 700;
	border-radius: 10px;
}

.home .ceo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8em;
	padding-left: 1em;
	position: relative;
}

.ceo>div.left {
	position: relative;
}

.ceo>div.left * {
	height: 220px;
	width: 150px;
}

.ceo>div.left img {
	position: relative;
	z-index: 2;
	object-fit: cover;
}

.ceo>div.left>div {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	background-color: var(--secondary);
}

.ceo>div.right {
	width: 55%;
	background-color: var(--secondary);
	color: var(--primary);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 0.2em;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 150%;
	clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.ceo>div.right h5,
.ceo>div.right h6 {
	font-weight: 700;
	font-size: 0.8em;
}

section.choose {
	margin-top: 10em;
	color: var(--secondary);
}

section.choose img {
	display: none;
}

section.choose h1 {
	font-size: 1.4em;
	text-align: center;
}

.choose p {
	padding: 1.5em;
	background-color: var(--secondary);
	color: var(--primary);
	width: 90%;
	margin: 1em auto;
	border-radius: 10px;
	font-family: var(--ProductSans);
	word-spacing: 3px;
	line-height: 1.5em;
}

section.subscribe {
	color: var(--secondary);
	margin: 8em 0 0;
	padding: 0 1em 8em;
}

.subscribe h1 {
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 0.5em;
}

.subscribe label {
	display: block;
	margin-bottom: 0.5em;
}

.subscribe input {
	border: 1px solid var(--secondary);
	padding: 1em;
	width: 100%;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 1.3em;
}

.subscribe button {
	display: block;
	margin: 1em auto 0;
	width: 200px;
	background-color: var(--secondary);
	color: var(--primary);
	padding: 1em 0;
	font-weight: bold;
	border-radius: 10px;
}

/*########## HOME STYLES END #########*/




/* ABOUT US STYLES BEGINS */

.back_logo {
	height: 275px;
	width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%),
		url("./assets/images/back_logo.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.about_us {
	padding: 1em 2em 3em;
	background-color: var(--primary);
	color: white;
}

.about_us h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5em;
	color: var(--secondary);
}

.about_us p {
	font-family: var(--ProductSans);
	line-height: 1.3em;
}


/* ABOUT US STYLES ENDS */





/* CONTACT US STYLES BEGINS */

.contact_page {
	background-color: var(--primary);
}

.contact_page .back_logo {
	display: flex;
	flex-direction: column;
	gap: .5em;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	background-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%),
		url("./assets/images/back_logo2.png");
}

.contact_page .back_logo h2 {
	font-size: 1.8em;
	color: var(--secondary);
}

.contact_page .back_logo .button {
	margin-top: .5em;
}

.contact_us {
	margin-top: 5em;
}

.contact_us section {
	margin-bottom: 5em;
}

.contact_us .info_card {
	background-color: white;
	height: fit-content;
	border-radius: 10px;
	display: flex;
	gap: .5em;
	justify-content: left;
	align-items: center;
	width: 70%;
	margin: 0 auto 1em;
	padding: 1em 0 1em 1.5em;
}

.contact_us .info_card span {
	font-family: var(--ProductSans);
}

.send_message {
	padding: .8em;
}

.send_message h3 {
	font-family: var(--ProductSans);
	color: var(--secondary);
	margin-bottom: 1em;
}

.send_message form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.send_message form input,
.send_message form textarea {
	background-color: white;
	padding: 1em;
	font-family: var(--ProductSans);
	border: 2px solid var(--secondary);
	border-radius: 10px;
}

.send_message form textarea {
	height: 150px;
}

.send_message form input::placeholder {
	font-family: var(--ProductSans);
}

.send_message button {
	width: 120px;
	font-family: var(--ProductSans);
	font-weight: 400;
}

.contact_us .map h1 {
	text-align: center;
	font-size: 1.4em;
	color: var(--secondary);
	margin-bottom: 2em;
}

.contact_us .map iframe {
	width: 90%;
	max-width: 600px;
	height: 300px;
	display: block;
	margin: 0 auto;
	border: 0;
	border-radius: 10px;
}

/* CONTACT US STYLES ENDS */




/* GALLERY STYLES BEGINS */
.main_gallery {
	background-color: var(--primary);
}

.main_gallery header h1 {
	font-size: 1.5em;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	text-transform: uppercase;
}

.main_gallery main {
	min-height: 80vh;
	margin-top: 5em;
}

.main_gallery .swiper {
	width: 90%;
	max-width: 400px;
	height: 480px;
	border-radius: 5px;
}

.main_gallery .swiper-slide {
	height: 375px;
}


.main_gallery .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	margin-right: 1em;
	object-fit: cover;
	border-radius: 10px;
}

.main_gallery .swiper-pagination-bullet {
	width: 20px;
	height: 30px;
	font-size: 12px;
	color: rgb(255, 255, 255, 50%);
	opacity: .5;
	border-radius: 5px;
	line-height: 30px;
	background-color: transparent;
	transform: translateY(-24px);
}

.main_gallery .swiper-pagination-bullet-active {
	color: var(--primary);
	background: var(--secondary);
	font-weight: bold;
	opacity: 1;
}

.main_gallery .swiper-button-prev,
.main_gallery .swiper-button-next {
	color: white;
	top: 90%;
	transform: scale(.3);
}

.main_gallery .swiper-button-prev {
	left: 18%;
}

.main_gallery .swiper-button-next {
	right: 18%;
}


/* GALLERY STYLES ENDS */





/* """"""""""" FOOTER STYLES BEGINS """"""""" */

footer {
	padding-bottom: 2em;
	background-color: var(--secondary);
}

footer .top {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 2em 0;
}

footer .top a {
	color: var(--primary);
	/* cursor: pointer; */
	font-weight: 700;
}

footer .top a:hover {
	text-decoration: underline;
}

footer hr {
	height: 1px;
	background-color: var(--primary);
}

footer .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0 0;
	gap: 1em;
	font-weight: 700;
}

footer .bottom .left {
	display: flex;
	align-items: center;
	gap: 1.5em;
}


/* """"""""""" FOOTER STYLES ENDS """"""""" */






/*######## LOGIN AND REGISTER STYLES ########*/
.auth_container {
	background-color: var(--primary);
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	padding-bottom: 50px;
	position: relative;
}

.auth_container header img {
	display: block;
	margin: 0 auto;
}

.auth_container header img,
.logo {
	width: 100%;
	max-width: 120px;
}

.auth_container main {
	width: 100%;
	max-width: 500px;
}

.auth_container section span {
	display: block;
}

.auth_container section span:nth-child(1) {
	font-size: 20px;
	font-weight: 900;
	color: var(--secondary);
}

.auth_container section span:nth-child(2) {
	font-size: 16px;
}

.auth_container form {
	margin-top: 20px;
	width: 100%;
}

.auth_container form label {
	font-weight: bold;
}

.auth_container form label::after {
	content: "*";
	color: var(--red);
	font-size: 0.9em;
	position: relative;
	bottom: 2px;
}

.auth_container form input {
	background-color: white;
	padding: 1em;
	display: block;
	margin: 0.5em 0 1em;
	width: 100%;
	border: 1px solid var(--secondary);
	border-radius: 10px;
	outline: 0;
	background-size: 20px;
	padding-left: 3.5em;
	font-family: ProductSans, serif;
	font-size: 1.2em;
}

.auth_container form input[type="email"] {
	background: white url("./assets/images/ic_outline-email.png") 5% no-repeat;
}

input::placeholder {
	font-family: ProductSans, serif;
	font-weight: 900;
	color: #0000004d;
}

.auth_container .pass {
	position: relative;
}

.pass span.open_pass {
	position: absolute;
	right: 5.3%;
	top: 55%;
	background-color: #00000001;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}

.auth_container form input[type="password"] {
	background-image: url("./assets/images/mdi_password-outline.png"),
		url("./assets/images/eye_closed.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: 5%, 95%;
}

.auth_container form input[type="text"].active {
	background-image: url("./assets/images/mdi_password-outline.png"),
		url("./assets/images/eye_open.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: 5%, 95%;
}

.auth_container .auth-left {
	/* position: relative; */
	padding-bottom: 2.5em;
}

.auth_container>div>a {
	position: absolute;
	bottom: 10px;
	white-space: nowrap;
	color: white;
	left: 50%;
	transform: translate(-50%);
}

.auth_container>div>a:hover,
.pass_options .forget:hover {
	text-decoration: underline;
	cursor: pointer;
}

.auth_container>div>a span {
	color: var(--secondary);
}

.auth_container form button {
	background-color: var(--secondary);
	color: var(--primary);
	font-family: ProductSans;
	font-weight: bold;
	display: block;
	margin: 2em auto 0;
	border-radius: 10px;
	padding: 0.6em 2em;
}

.pass_options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1em;
	width: 100%;
}

.auth_container form .remember label,
.pass_options .forget {
	font-weight: bold;
}

.auth_container .remember {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.remember *,
.pass_options .forget {
	cursor: pointer;
}

.remember input#remember {
	margin: 0 0.3em 0 0;
	width: fit-content;
}

.auth_container form .remember label::after {
	content: "";
}

.forget {
	color: var(--secondary);
}

label[for="remember"] {
	display: flex;
}

/* Styling the check button */
input[type="checkbox"] {
	visibility: hidden;
}

label[for="remember"] span.custom {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 12px;
	width: 12px;
	background-color: white;
	z-index: 1;
}

label[for="remember"] input[type="checkbox"]:checked~span.custom {
	background-color: var(--secondary);
}

label[for="remember"] span.custom::after {
	content: "";
	position: absolute;
	display: none;
	left: 25%;
	top: 3.5%;
	width: 3px;
	height: 6px;
	border: 2px solid var(--primary);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

label[for="remember"] input[type="checkbox"]:checked~span.custom::after {
	display: block;
}

/*######## Login and Register Styles ended ########*/










/* ACCOUNT PAGES STYLES BEGINS */


/* ACCOUNT NAVBAR STARTS */

.acc_navbar {
	background-color: var(--primary);
	padding: 0em 1em;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.acc_navbar .mobile_nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.acc_navbar .logo {
	width: 50px;
	height: 100%;
	object-fit: cover;
}

.acc_navbar .hamburger {
	width: 15px;
	cursor: pointer;
}

.acc_navbar .hamburger.active {
	display: none;
}

.acc_navbar .acc_closer {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	height: max-content;
	width: 60vw;
	max-width: 350px;
	transform: translateX(-65vw);
	transition: 200ms all;
	border-radius: 0 0 10px 0;
	z-index: 4;
	padding-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	transition: 200ms all;
}

.acc_closer.active {
	transform: translateX(0vw);
}

.acc_navbar #overlay.active {
	height: 100vh;
	width: 100vw;
	background-color: rgba(15, 4, 4, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: all;
}

.acc_closer a {
	width: 60%;
	padding: 1em 0 1em .9em;
	border-radius: 10px;
	color: var(--primary);
	display: flex;
	align-items: center;
	gap: .5em;
	font-weight: 700;
	margin: 0 auto;
}

.acc_closer a:hover {
	background-color: var(--secondary);
}

.acc_closer .opened_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em 0 1.5em;
}

.acc_closer .opened_nav .close {
	margin-left: 0;
	width: 15px;
	cursor: pointer;
	transform: translateY(0%);
}

/* ACCOUNT NAVBAR ENDS */



/* DASHBOARD STYLES BEGINS */
.dashboard {
	min-height: 80vh;
	background-color: var(--light-gray);
	padding: 5em 1em;
}

.dashboard * {
	font-family: var(--ProductSans);
}

.dashboard h1 {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 2em;
}

.dash-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
}

.dash-stats-card {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.5em 1em;
	border-radius: 10px;
}

.dash-stats-card span {
	display: block;
	font-weight: bold;
	font-size: 1.1em;
}

.dash-stats-card span:nth-child(1) {
	color: var(--deep-gray);
}

.dash-cta {
	margin-top: 4em;
}

.dash-cta h1 {
	font-size: 1.7em;
	width: 67%;
	margin: 0 auto 1em;
	text-align: center;
}

.dash-cta p {
	line-height: 22px;
}

.dash-cta a {
	display: block;
	margin: 1em auto 0;
	background-color: var(--secondary);
	color: var(--primary);
	padding: 1.2em;
	width: 120px;
	text-align: center;
	border-radius: 10px;
}

/* DASHBOARD STYLES ENDS */




/* BOOKING STYLES BEGINS */

.booking {
	background-color: var(--light-gray);
	min-height: 80vh;
	padding: 5em 1em;
	text-align: center;
}

.booking * {
	font-family: var(--ProductSans);
	font-size: .9em;
}

.booking h1 {
	font-size: 1.5em;
}

.booking span {
	display: block;
	margin-top: 1em;
}

.booking-table {
	background-color: white;
	width: 100%;
	margin-top: 3em;
	padding: 2em 1em;
	border-radius: 10px;
	box-shadow: 20px 20px 60px #bebebeda,
		-20px -20px 60px #fff;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.booking-table table tr {
	display: flex;
	align-items: center;
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.booking-table table thead tr {
	padding: 0;
	border: 0;
	font-size: 1em;
}

.booking-table th {
	width: 100%;
	font-weight: 100;
	display: block;
	white-space: nowrap;
	text-transform: uppercase;
	color: var(--deep-gray);
}

.booking-table td {
	width: 100%;
	text-transform: uppercase;
}

.booking-table span.booked {
	color: var(--deep-gray);
}

/* BOOKING STYLES ENDS */





/* PROFILE STYLES BEGINS */

.profile-container {
	min-height: 80vh;
	background-color: var(--light-gray);
	padding-top: 5em;
}

.profile {
	background-color: white;
	width: 90%;
	margin: 0 auto;
	padding: 1.5em 1em;
	border-radius: 5px;
}

.profile button,
.profile a {
	font-weight: 100;
}

.profile header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile header h1 {
	font-size: 1.6em;
}

.profile form {
	margin: 5em 1em 0;
}

.profile form input {
	width: 100%;
	padding: 1em;
	border: 1px solid var(--light-gray);
	border-radius: 10px;
	margin-bottom: 1em;
}

.profile form button {
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: 10px;
	text-align: center;
	display: block;
	padding: 1.3em 2.7em;
	margin: 1em auto 0;
}

/* PROFILE STYLES ENDS */












/* ACCOUNT PAGES STYLES ENDS */