/* tablet viewport */
@media screen and (min-width:768px) {
    * {
        font-size: 16px;
    }

    /* NAVBAR STARTS HERE */

    .navbar {
        padding-bottom: 0;
    }

    .navbar .logo {
        width: 90px;
        height: 90px;
    }

    .navbar .mobile_nav {
        width: 100%;
        font-size: .8em;
    }

    .hamburger,
    .close {
        display: none;
    }

    .navbar nav>div {
        position: relative;
        width: 100%;
        transform: translate(0);
        background-color: transparent;
    }

    .navbar nav>div ul {
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    .navbar .authenticate {
        flex-direction: row;
        margin-left: auto;
        justify-content: end;
    }

    .mobile_nav>div ul a,
    .navbar .authenticate a:nth-child(1) {
        color: white;
        border: none;
    }

    .home-link {
        margin-left: auto;
        padding-left: 10%;
    }

    /* NAVBAR ENDS HERE */



    /* FOOTER STARTS HERE */

    footer section.bottom {
        padding: 2em 2em;
        flex-direction: row;
        justify-content: space-between;
    }

    /* FOOTER ENDS HERE */



    /* HOME STARTS HERE */

    .home section.hero {
        padding: 8em 2em;
    }

    .home .hero p {
        font-size: 2em;
        max-width: 350px;
    }

    .home .services>div {
        display: flex;
        gap: 3em;
        align-items: center;
        padding: 0 4em;
    }

    .home .services>div>div {
        flex: 1;
    }

    .home .services>div>picture>img {
        object-fit: cover;
        width: 100%;
    }

    .home .ceo {
        padding-left: 3em;
    }

    .ceo>div.left * {
        height: 100%;
        width: 250px;
    }

    .ceo>div.right {
        width: 30%;
    }

    section.choose img {
        display: block;
        width: 100%;
        max-width: 350px;
    }

    section.choose>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .choose p {
        margin-right: 0;
        padding: 2em;
        padding-left: 6em;
        text-align: justify;
        width: 100%;
        border-radius: 5% 0% 0% 25% / 5% 0% 0% 95%;
    }

    .subscribe h1 {
        font-size: 1.7rem;
        margin-bottom: 1em;
    }

    .subscribe label {
        display: none;
    }

    .subscribe input {
        width: 70%;
        display: block;
        margin: 0 auto 1.5em;
    }

    /* HOME ENDS HERE */




    /* ABOUT BEGINS HERE */

    .back_logo {
        height: 450px;
    }

    .about_us {
        padding: 4em;
        text-align: justify;
    }

    .about_us h1 {
        font-size: 1.8rem;
    }

    .about_us p {
        line-height: 1.4em;
        font-size: 1.25rem;
    }

    /* ABOUT ENDS HERE */




    /* CONTACT US BEGINS HERE */

    .contact_us .info_card {
        width: 60%;
    }

    .send_message {
        padding: 3em;
    }

    .contact_us .map iframe {
        width: 95%;
        height: 450px;
        max-width: 950px;
    }

    /* CONTACT US ENDS HERE */


}